
	<div class="container">
		
		<div class="top-member">
			<div class="left">
				<a href="#"><img src="img/mall-43.gif" /></a>
			</div>
			<div class="right">
				<div class="login-after">
					<div class="head-bd">
						<img src="img/mall-45.gif" />
						<div class="text">
							<p class="p-01">hi，leo123</p>
							<p class="p-02">当前等级：V0</p>
							<p class="p-02">当前经验值：45</p>
						</div>
					</div>
					<div class="progress-bar-out">
						<span class="sp-01">V0</span>
						<div class="progress-bar">
							<span style="width:10%"></span>
						</div>
						<span class="sp-01">V1</span>
						<p class="p-01">还差<em>955</em>经验值即可升级成为v1等级会员</p>
					</div>
					<div class="zt">
						<a href="#">我的成长进度</a>
						<a href="#">经验值明细</a>
					</div>
					<div class="dl-out">
					<dl>
						<dt><a href="#">290<em>U币</em></a></dt>
						<dd><a href="#">我的U币</a></dd>
					</dl>
					<dl>
						<dt><a href="#">0<em>张</em></a></dt>
						<dd><a href="#">可用卡券包</a></dd>
					</dl>
					<dl>
						<dt><a href="#">0<em>个</em></a></dt>
						<dd><a href="#">已兑换礼品</a></dd>
					</dl>
					</div>
					<a class="go-a" href="#">礼品兑换购物车<em>1</em></a>
				</div>
				<div class="login-box" style="display:none;">
					<p>获知会员信息详情<br />换取店铺代金券买商品更划算</p>
					<a class="login-a" href="#">立即登录</a>
				</div>
			</div>
		</div>
		
		
		<div class="ad-ul-out">
			<div class="ad-bt-box">热门代金券</div>
			<div class="ad-more"><a href="#">更多&nbsp;<em>&gt;&gt;</em></a></div>
			<div class="ul-01-out">
			<ul>
				<li>
					<div class="left">
						<span class="name text-ellipsis"><a href="#">德庄火锅城</a></span>
						<a href="#"><img src="img/img02.gif" /></a>
					</div>
					<div class="right">
						<span class="sp-01"><em>￥</em>20</span>
						<span class="sp-02">（购物满200元可用）</span>
						<span class="sp-03">需350U币</span>
						<span class="sp-04">有效期至2015-11-26</span>
						<a href="#" class="receive">立即领取</a>
					</div>
				</li>
				<li>
					<div class="left">
						<span class="name text-ellipsis"><a href="#">德庄火锅城</a></span>
						<a href="#"><img src="img/img02.gif" /></a>
					</div>
					<div class="right">
						<span class="sp-01"><em>￥</em>20</span>
						<span class="sp-02">（购物满200元可用）</span>
						<span class="sp-03">需350U币</span>
						<span class="sp-04">有效期至2015-11-26</span>
						<a href="#" class="receive">立即领取</a>
					</div>
				</li>
				<li>
					<div class="left">
						<span class="name text-ellipsis"><a href="#">德庄火锅城</a></span>
						<a href="#"><img src="img/img02.gif" /></a>
					</div>
					<div class="right">
						<span class="sp-01"><em>￥</em>20</span>
						<span class="sp-02">（购物满200元可用）</span>
						<span class="sp-03">需350U币</span>
						<span class="sp-04">有效期至2015-11-26</span>
						<a href="#" class="receive">立即领取</a>
					</div>
				</li>
				<li>
					<div class="left">
						<span class="name text-ellipsis"><a href="#">德庄火锅城</a></span>
						<a href="#"><img src="img/img02.gif" /></a>
					</div>
					<div class="right">
						<span class="sp-01"><em>￥</em>20</span>
						<span class="sp-02">（购物满200元可用）</span>
						<span class="sp-03">需350U币</span>
						<span class="sp-04">有效期至2015-11-26</span>
						<a href="#" class="receive">立即领取</a>
					</div>
				</li>
				<li>
					<div class="left">
						<span class="name text-ellipsis"><a href="#">德庄火锅城</a></span>
						<a href="#"><img src="img/img02.gif" /></a>
					</div>
					<div class="right">
						<span class="sp-01"><em>￥</em>20</span>
						<span class="sp-02">（购物满200元可用）</span>
						<span class="sp-03">需350U币</span>
						<span class="sp-04">有效期至2015-11-26</span>
						<a href="#" class="receive">立即领取</a>
					</div>
				</li>
				<li>
					<div class="left">
						<span class="name text-ellipsis"><a href="#">德庄火锅城</a></span>
						<a href="#"><img src="img/img02.gif" /></a>
					</div>
					<div class="right">
						<span class="sp-01"><em>￥</em>20</span>
						<span class="sp-02">（购物满200元可用）</span>
						<span class="sp-03">需350U币</span>
						<span class="sp-04">有效期至2015-11-26</span>
						<a href="#" class="receive">立即领取</a>
					</div>
				</li>
			</ul>
			<div class="norecord">暂无代金券</div>	
		</div>
			
			<div class="ad-bt-box">热门礼品</div>
			<div class="ad-more"><a href="#">更多&nbsp;<em>&gt;&gt;</em></a></div>
			
			
			<ul class="ncp-exchange-list">
            <li>
        <div class="gift-pic"><a href="#" target="_blank"> <img alt="进口奶粉" src="http://uk86.webonn.com/uk86/data/upload/shop/pointprod/05047890466426437_mid.jpg"> </a></div>
        <div class="gift-name"><a title="进口奶粉" target="_blank" href="#">联想ThinkPad无线激光鼠标 经无线版 游戏办公家用</a></div>
        <div class="exchange-rule">
              <span class="pgoods-grade">V1</span>
               <span class="pgoods-price">价格：<em>¥180.00</em></span> <span class="pgoods-points">积分兑换：<strong>999</strong>积分</span> </div>
      </li>
            <li>
        <div class="gift-pic"><a href="#" target="_blank"> <img alt="八仙花" src="http://uk86.webonn.com/uk86/data/upload/shop/pointprod/04937229991527895_mid.jpg"> </a></div>
        <div class="gift-name"><a title="八仙花" target="_blank" href="#">八仙花</a></div>
        <div class="exchange-rule">
                 <span class="pgoods-price">价格：<em>¥123.00</em></span> <span class="pgoods-points">U币兑换：<strong>0</strong>U币</span> </div>
      </li>
            
			<li>
        <div class="gift-pic"><a href="#" target="_blank"> <img alt="八仙花" src="http://uk86.webonn.com/uk86/data/upload/shop/pointprod/04937229991527895_mid.jpg"> </a></div>
        <div class="gift-name"><a title="八仙花" target="_blank" href="#">八仙花</a></div>
        <div class="exchange-rule">
                 <span class="pgoods-price">价格：<em>¥123.00</em></span> <span class="pgoods-points">U币兑换：<strong>0</strong>U币</span> </div>
      </li>
	  		<li>
        <div class="gift-pic"><a href="#" target="_blank"> <img alt="八仙花" src="http://uk86.webonn.com/uk86/data/upload/shop/pointprod/04937229991527895_mid.jpg"> </a></div>
        <div class="gift-name"><a title="八仙花" target="_blank" href="#">八仙花</a></div>
        <div class="exchange-rule">
                 <span class="pgoods-price">价格：<em>¥123.00</em></span> <span class="pgoods-points">U币兑换：<strong>0</strong>U币</span> </div>
      </li>
	  		<li>
        <div class="gift-pic"><a href="#" target="_blank"> <img alt="八仙花" src="http://uk86.webonn.com/uk86/data/upload/shop/pointprod/04937229991527895_mid.jpg"> </a></div>
        <div class="gift-name"><a title="八仙花" target="_blank" href="#">八仙花</a></div>
        <div class="exchange-rule">
                 <span class="pgoods-price">价格：<em>¥123.00</em></span> <span class="pgoods-points">U币兑换：<strong>0</strong>U币</span> </div>
      </li>
	 		<li>
        <div class="gift-pic"><a href="#" target="_blank"> <img alt="八仙花" src="http://uk86.webonn.com/uk86/data/upload/shop/pointprod/04937229991527895_mid.jpg"> </a></div>
        <div class="gift-name"><a title="八仙花" target="_blank" href="#">八仙花</a></div>
        <div class="exchange-rule">
                 <span class="pgoods-price">价格：<em>¥123.00</em></span> <span class="pgoods-points">U币兑换：<strong>0</strong>U币</span> </div>
      </li>
	  		<li>
        <div class="gift-pic"><a href="#" target="_blank"> <img alt="八仙花" src="http://uk86.webonn.com/uk86/data/upload/shop/pointprod/04937229991527895_mid.jpg"> </a></div>
        <div class="gift-name"><a title="八仙花" target="_blank" href="#">八仙花</a></div>
        <div class="exchange-rule">
                 <span class="pgoods-price">价格：<em>¥123.00</em></span> <span class="pgoods-points">U币兑换：<strong>0</strong>U币</span> </div>
      </li>
	  		<li>
        <div class="gift-pic"><a href="#" target="_blank"> <img alt="八仙花" src="http://uk86.webonn.com/uk86/data/upload/shop/pointprod/04937229991527895_mid.jpg"> </a></div>
        <div class="gift-name"><a title="八仙花" target="_blank" href="#">八仙花</a></div>
        <div class="exchange-rule">
                 <span class="pgoods-price">价格：<em>¥123.00</em></span> <span class="pgoods-points">U币兑换：<strong>0</strong>U币</span> </div>
      </li>
	 		<li>
        <div class="gift-pic"><a href="#" target="_blank"> <img alt="八仙花" src="http://uk86.webonn.com/uk86/data/upload/shop/pointprod/04937229991527895_mid.jpg"> </a></div>
        <div class="gift-name"><a title="八仙花" target="_blank" href="#">八仙花</a></div>
        <div class="exchange-rule">
                 <span class="pgoods-price">价格：<em>¥123.00</em></span> <span class="pgoods-points">U币兑换：<strong>0</strong>U币</span> </div>
      </li>
	  		<li>
        <div class="gift-pic"><a href="#" target="_blank"> <img alt="八仙花" src="http://uk86.webonn.com/uk86/data/upload/shop/pointprod/04937229991527895_mid.jpg"> </a></div>
        <div class="gift-name"><a title="八仙花" target="_blank" href="#">八仙花</a></div>
        <div class="exchange-rule">
                 <span class="pgoods-price">价格：<em>¥123.00</em></span> <span class="pgoods-points">U币兑换：<strong>0</strong>U币</span> </div>
      </li>
          </ul>
		</div>
		
		
		
			
				
				
			
		
		
			
		
		
	</div>

	