html { width: 100%; height: 100%;font-size:100px}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button, textarea, p, blockquote { margin: 0; padding: 0; }
body { font-family: Microsoft Yahei, '微软雅黑'; font-size: 16px; color:#fff;width: 100%; padding: 0; margin: 0; background-color: #fff; }
table { border-collapse: collapse; border-spacing: 0; font-size: inherit; font: 100%; }
input, img { vertical-align: middle }
a { text-decoration: none; }
a:link, a:visited, a:active, a:hover { text-decoration: none; color: #fff; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: ''; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }
img, object { max-width: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
input[type="text"], input[type="password"], input[type="number"], input[type="button"] {
	-webkit-appearance: none;
	-moz-appearance: none; /* mobile firefox too! */}
ul, ol, dl,li{	list-style:none;}
a {	text-decoration:none;}

input::-webkit-inner-spin-button {
-webkit-appearance: none;
}
input::-webkit-outer-spin-button {
-webkit-appearance: none;
}

/*common class公共类定义区域*/
.clearfixd:after { content: '\20'; display: block; height: 0; clear: both; }
.clearfixd { *zoom:1; overflow:hidden;}
.hide{display:none;}
.nomarginleft{margin-left:0}

/*icon of basement*/
.icon-arrow-left,.icon-arrow-left-b,.icon-arrow-right,.icon-arrow-right-b,.icon-arrow-bot,.icon-rxin-a,.icon-rxin-b,.icon-arrow-mine{
	display: inline-block;
	background: url(../../images/wap/top_icons.png) no-repeat;
	background-size: 2.4rem 2.4rem;
}
.icon-arrow-left{
	width: 0.8rem;
	height: 0.8rem;
	background-position: 0rem 0rem;	
	margin-top:0.05rem;
}
.icon-arrow-left-b{
	width: 0.8rem;
	height: 0.8rem;
	background-position: 0rem -0.8rem;	
	margin-top:0.05rem;
}
.icon-arrow-right{
	width: 0.8rem;
	height: 0.8rem;
	background-position:-0.8rem 0rem;	
	margin-top:0.05rem;
}
.icon-arrow-bot{
	width: 0.8rem;
	height: 0.8rem;
	background-position:-1.6rem 0rem;	
	margin-top:0.08rem;
	margin-left:0.1rem;
}
.icon-arrow-right-b{
	width: 0.6rem;
	height: 0.8rem;
	background-position:-0.9rem -0.8rem;	
	margin-top:0.05rem;
}
.icon-rxin-a{
	width: 0.8rem;
	height: 0.8rem;
	background-position: 0rem -1.6rem;	
	margin-top:0.05rem;
}
.icon-rxin-b{
	width: 0.8rem;
	height: 0.8rem;
	background-position: -0.8rem -1.6rem;	
	margin-top:0.05rem;
}
.icon-arrow-mine{
	width: 0.8rem;
	height: 0.8rem;
	background-position: -1.6rem -0.8rem;	
	margin-top:0.05rem;
}

.icon-share-top,.icon-del-left,.icon-del-bot{
	display: inline-block;
	background: url(../../images/wap/share_icons.png) no-repeat;
	background-size: 1.44rem 1.44rem;
}
.icon-share-top	{
	width: 0.48rem;
	height: 0.48rem;
	background-position: 0rem -0.48rem;	
}
.icon-del-bot{
	width: 0.48rem;
	height: 0.48rem;
	background-position: 0rem 0rem;	
}
.icon-del-left{
	width: 0.48rem;
	height: 0.48rem;
	background-position: -0.48rem 0rem;	
}
.icon-home-i01,.icon-home-i02,.icon-home-i03,.icon-home-i04,.icon-home-i05,.icon-home-i06,.icon-home-i07,.icon-home-i08{
	display: inline-block;
	/* background: url(../../images/wap/home_box_icons.png) no-repeat; */
	background-size: 4rem 2rem;
	width: 0.88rem;height: 0.88rem;
}
/* .icon-home-i01{background-position: 0rem 0rem;}
.icon-home-i02{background-position: -1rem 0rem;}
.icon-home-i03{background-position: -2rem 0rem;}
.icon-home-i04{background-position: -3rem 0rem;}
.icon-home-i05{background-position: -0rem -1rem;}
.icon-home-i06{background-position: -1rem -1rem;}
.icon-home-i07{background-position: -2rem -1rem;}
.icon-home-i08{background-position: -3rem -1rem;} */

.icon-link-i01,.icon-link-i02,.icon-link-i03,.icon-link-i04,.icon-link-i05,.icon-link-i06{
	display: inline-block;
	margin-top:-0.03rem;
	/* background: url(../../images/wap/home_link_icons.png) no-repeat; */
	background-size:1.5rem 1rem;
	width: 0.36rem;height: 0.30rem;
}
/* .icon-link-i01{background-position: 0rem 0rem;}
.icon-link-i02{background-position: -0.5rem 0rem;}
.icon-link-i03{background-position: -1rem 0rem;}
.icon-link-i04{background-position: 0rem -0.5rem;}
.icon-link-i05{background-position: -0.5rem -0.5rem;}
.icon-link-i06{background-position: -1rem -0.5rem;} */

.icon-cx-xs,.icon-cx-yy,.icon-cx-fm{
	display: inline-block;
	background: url(../../images/wap/home_cx_icons.png) no-repeat;
	background-size: 0.92rem 1.02rem;
	width: 0.92rem;height: 0.34rem;
}
.icon-cx-xs{background-position: 0rem 0rem;}
.icon-cx-yy{background-position: 0rem -0.34rem;}
.icon-cx-fm{background-position: 0rem -0.68rem;}

/*头部*/
#header{height:0.9rem;overflow: hidden; text-align: center; width:100%; margin:0 auto; font-size:0.36rem; z-index:99; position:fixed !important; top:0 !important;}
#header .header_con{background:#ef5557;height:0.9rem; width:100%; max-width:640px; min-width:320px; color:#fff; margin:0 auto; position:absolute;top:0;}
#header .header_con .headerleft{display:block; position:absolute; top:0; left:0;}
#header .header_con .headerRight{display:block; position:absolute; top:0; right:0;}
#header .header_con .headerRight-b{display:block; position:absolute; top:0; right:0.8rem;}
#header .header_con .headerRight i{ line-height:0.2rem; font-size:0.16rem; font-style:normal;}
#header .header_con .headerRight i em{width:0.2rem;height:0.2rem; background:#fff; display:inline-block; font-size:0.16rem; color:#ef5557;position:absolute; top:0.1rem; right:0.12rem;-webkit-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;}
#header .header_con .headerRight i em span{ line-height:0.16rem; padding:0.02rem 0;display:inline-block;}	
#header .header_con .top-tit-div{ width:3.75rem; height:0.6rem; font-size:0.38rem; margin:0 auto; line-height:0.6rem; color:#fff;padding-top:0.15rem; position:relative;text-align:center;}
#header .header_con .top-hk-div{ width:4.75rem; height:0.6rem; margin:0 auto; padding-top:0.15rem; position:relative;text-align:center;}

#header .header_con .top-hk-div i{position:absolute;left:0.1rem; top:0.20rem; z-index:15;}	
#header .header_con .top-hk-div .ui-input-top {
	width:100%;
	height: 0.56rem;	
	padding:0.12rem 0.05rem 0.1rem 0.56rem;
	background: #fff;
	font-family:"微软雅黑","Microsoft YaHei", Arial, SimHei;
	font-size: 0.26rem;
	line-height: 0.38rem;
	color: #cccccc;
	border: 0.02rem solid #e2e2e2;
	-webkit-border-radius:0.05rem;
	-webkit-border-radius: 0.05rem;
	-moz-border-radius:0.05rem;
	-ms-border-radius: 0.05rem;
	-o-border-radius:0.05rem;
	border-radius:0.05rem;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}	

/*内容*/
#content{width:100%; max-width: 640px; min-width:320px; margin: 0 auto; clear:both; margin-top:0.9rem; background:#f0f3f4; overflow:hidden;}
.p_bottom{ padding-bottom:0.98rem;}
.p_bottom_b{ padding-bottom:1.13rem;}
.top_pic{}


/*首页*/
.home_link_m{ padding-bottom:0.15rem;background:#f0f3f4;}
.home_link_box{width:100%; margin:0 auto; background:#fff; text-align:center; padding-bottom:0.27rem;}
.home_link_box a{ width:1.6rem;  display:inline-block; float:left;}
.home_link_box a i{ margin-top:0.27rem;}
.home_link_box a p{ font-size:0.24rem; line-height:0.22rem; padding-top:0.06rem; color:#666;}

.home_link_xz{border-top:0.02rem solid #dedede; border-bottom:0.02rem  solid #dedede;width:100%; margin:0 auto; background:#fff; text-align:center; }
.home_link_xz a{ line-height:0.75rem; font-size:0.22rem; height:0.75rem; display:inline-block; float:left; 
 text-align:center; color:#666; border-bottom:0.02rem  solid #dedede; position:relative;}
.home_link_xz a span{ padding-left:0.4rem; }
.home_link_xz a:nth-of-type(3n+1){width:2.12rem;border-right:0.02rem solid #dedede;}
.home_link_xz a:nth-of-type(3n+2){width:2.12rem;border-right:0.02rem solid #dedede;}
.home_link_xz a:nth-of-type(3n+3){width:2.12rem;border-right:0;}
.home_link_xz a i{ position:absolute; top:0.21rem; left:0.38rem;}

.home_mian_tit{ height:0.64rem; width:100%;text-align:left; background:#fff;}
.home_mian_tit ul li:first-child{ width:0.06rem; background:#ef5557; float:left;height:0.64rem;}
.home_mian_tit ul li:last-child{ width:6.34rem; background:#fff;height:0.6rem; float:left;border-top:0.02rem solid #dedede; border-bottom:0.02rem solid #dedede;}
.home_mian_tit ul li h2{ line-height:0.6rem; padding-left:0.15rem; font-size:0.28rem; color:#000;}

.home_mian_love{ height:3.2rem;border-bottom:0.02rem  solid #e8e8e8; background:#fff;}
.home_mian_love .love_left{ float:left; width:3.19rem;}
.home_mian_love .love_left  h2{ padding-top:0.22rem; font-size:0.3rem; font-weight:normal; color:#ef5557; line-height:0.34rem; height:0.34rem;padding-left:0.16rem;}
.home_mian_love .love_left  h2 span{ font-size:0.18rem; color:#333;padding-left:0.04rem;}
.home_mian_love .love_left  p{padding:0.12rem 0 0.12rem 0.16rem; font-size:0.2rem; color:#999; height:0.24rem; line-height:0.24rem;}
.home_mian_love .love_left img{ width:3.19rem; height:3.2rem;}

.home_mian_love .love_right{ float:left; width:3.19rem;border-left:0.02rem solid #e8e8e8; }
.home_mian_love .love_right ul:first-child{height:1.59rem;} 
.home_mian_love .love_right ul:nth-of-type(2){height:1.59rem;border-top:0.02rem  solid #e8e8e8; } 
.home_mian_love .love_right ul li{ float:left;height:100%;}
.home_mian_love .love_right ul li:first-child{ width:1.6rem;} 
.home_mian_love .love_right ul li:first-child h2{ font-size:0.18rem; color:#333; font-weight:normal; padding-top:0.22rem; padding-left:0.16rem;} 
.home_mian_love .love_right ul li:first-child h2 span{ font-size:0.26rem;color:#ef5557;  display:block; padding-top:0.03rem;} 
.home_mian_love .love_right ul li:first-child p{ padding:0.12rem 0 0.12rem 0.16rem; font-size:0.2rem; color:#999;line-height:0.24rem;} 
.home_mian_love .love_right ul li:nth-of-type(2){width:1.59rem; text-align:center; } 
.home_mian_love .love_right ul li:nth-of-type(2) img{ vertical-align:middle; width:1.58rem; height:1.58rem; display:block;  border:none}

.home_mian_love .love_right_x{ float:left; width:3.19rem;border-right:0.02rem solid #e8e8e8; }
.home_mian_love .love_right_x ul:first-child{height:1.59rem;} 
.home_mian_love .love_right_x ul:nth-of-type(2){height:1.59rem;border-top:0.02rem solid #e8e8e8; } 
.home_mian_love .love_right_x ul li{ float:left;height:100%;}
.home_mian_love .love_right_x ul li:first-child{ width:1.6rem;} 
.home_mian_love .love_right_x ul li:first-child h2{ font-size:0.18rem; color:#333; font-weight:normal; padding-top:0.22rem; padding-left:0.16rem;} 
.home_mian_love .love_right_x ul li:first-child h2 span{ font-size:0.26rem;color:#ef5557;  display:block; padding-top:0.03rem;} 
.home_mian_love .love_right_x ul li:first-child p{ padding:0.12rem 0 0.12rem 0.16rem; font-size:0.2rem; color:#999;line-height:0.24rem;} 
.home_mian_love .love_right_x ul li:nth-of-type(2){width:1.59rem; text-align:center; } 
.home_mian_love .love_right_x ul li:nth-of-type(2) img{ vertical-align:middle; width:1.58rem; height:1.58rem; display:block;  border:none}

.home_lb_b{border-top:0.01rem  solid #e8e8e8;width:100%; background:#f0f3f4; padding:0.14rem 0;}
.home_lb_b img{width:100%; display:block;}

.home_mian_box{width:100%; background:#f0f3f4; padding-bottom:0.3rem;}
.home_mian_box ul{ margin-top:0.15rem; background:#fff;}
.home_mian_box ul:nth-of-type(2n+1){ float:left; margin-left:0.2rem;}
.home_mian_box ul:nth-of-type(2n+2){ float:right; margin-right:0.2rem;}
.home_mian_box ul img{ width:2.92rem; height:2.92rem; display:inline-block;}
.home_mian_box ul li{border:0.01rem  solid #e8e8e8; border:0;width:2.9rem; }
.home_mian_box ul li{}
.home_mian_box ul li h2{ line-height:0.34rem; padding:0.15rem 0.15rem 0.08rem 0.15rem; font-size:0.26rem; color:#000; height:0.61rem; overflow:hidden;}
.home_mian_box ul li dl{padding-bottom:0.05rem; position: relative; padding-left:0.15rem;}
.home_mian_box ul li dl dt{ font-size:0.36rem; color:#ef5557; height:0.42rem; line-height:0.42rem;}
.home_mian_box ul li dl dt em{ font-style:normal; font-size:0.24rem; padding-right:0.02rem;}
.home_mian_box ul li dl dd{ font-size:0.24rem; color:#999; height:0.4rem; line-height:0.4rem;text-decoration:line-through;}
.home_mian_box ul li dl span{ display:inline-block; width:0.92rem; height:0.82rem; position:absolute; right:0; top:0;}
.home_mian_box ul li dl span i{margin-bottom:0.04rem;}

.home_mian_box_c{width:100%; background:#f0f3f4;}
.home_mian_box_c ul li{width:48%; float:left; padding:1%;}
.home_mian_box_c ul li img{width:100%; float:left;}

/*底部*/
.all_foot{height:0.98rem;overflow: hidden; background:#FFF; text-align: center; width:100%; margin:0 auto; z-index:98; position:fixed; bottom:0; left:0px;}
.all_foot .home_foot{background:#fff;height:0.96rem; border-top:0.02rem  solid #dedede;  width:100%; max-width:640px; min-width:320px; color:#fff; margin:0 auto; position:relative}
.home_foot a{  text-align:center; display:inline-block; float:left; width:1.6rem; height:100%;color:#808080;}
.home_foot a i{margin-top:0.1rem; margin-left: -0.03rem;}
.home_foot a p{padding-top:0.02rem; font-size:0.2rem;  line-height:0.2rem;}
.icon-bot-i01,.icon-bot-i02,.icon-bot-i03,.icon-bot-i04{
	display: inline-block;
	background: url(../../images/wap/home_bot_icons.png) no-repeat;
	background-size: 0.96rem 1.92rem;
	width: 0.48rem;height: 0.48rem;
}
.icon-bot-i01{background-position: -0.48rem  0rem;}
.icon-bot-i02{background-position: -0.48rem -0.48rem;}
.icon-bot-i03{background-position: -0.48rem -0.96rem;}
.icon-bot-i04{background-position: -0.48rem -1.44rem;}
.home_foot .icon-bot-i03 em{background:#EF595B; display:inline-block; width:0.25rem; height:0.25rem; border-radius:100%; font-size:0.2rem; color:#FFF; position:relative; left:0.2rem; line-height:0.24rem;}
.icon-bot-c .icon-bot-i01{background-position: 0rem 0rem;}
.icon-bot-c .icon-bot-i02{background-position: 0rem -0.48rem;}
.icon-bot-c .icon-bot-i03{background-position: 0rem -0.96rem;}
.icon-bot-c .icon-bot-i04{background-position: 0rem -1.44rem;}
.icon-bot-c p{ color:#ef5557;}

.all_foot .details_foot{background:#fff;height:0.96rem; border-top:0.02rem  solid #dedede;width:100%; max-width:640px; min-width:320px; color:#fff; margin:0 auto; position:relative}
.details_foot a{text-align:center; display:inline-block; float:left; width:2.7rem; height:100%; line-height:0.96rem; color:#808080; font-size:0.26rem; color:#fff;letter-spacing:0.02rem;}
.details_foot a:first-child{ background:#ffae00;}
.details_foot a:nth-of-type(2){ background:#f15453;}

.details_foot .botRight{display:block; position:absolute; top:0; right:0; width:1.0rem; height:0.96.rem;}
.details_foot .botRight i{ line-height:0.2rem; font-size:0.16rem; font-style:normal;}
.details_foot .botRight i em{width:0.2rem;height:0.2rem; background:#ef5557; display:inline-block; font-size:0.16rem; color:#fff;position:absolute;
 top:0.22rem; right:0.14rem;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;}
.details_foot .botRight i em span{ line-height:0.16rem; padding:0.02rem 0;display:inline-block;}	

/* 轮播 */
.carousel-image{width:100%;overflow: hidden;position: relative;}
.carousel-image div{position: absolute;}
.carousel-image a{display: block;float:left;background-color: #f2f2f2;}
.carousel-image a img{margin:0;border:none;}
.carousel-num {position: absolute;bottom:.2rem;margin:0 auto;width:100%;text-align: center;}
.carousel-num i{font-size:0px;opacity:.5;cursor: pointer; font-style:normal;background-color:#fff;color:#fff;font-size: 0;height:0.08rem;width:0.08rem;border-radius:0.04rem;overflow: hidden;margin-left: 10px;display: inline-block;border:1px solid #cecece;background-clip:padding-box;}
.carousel-num i.current{background-color: #ef5557;}

.carousel-image a img.home1-image{width:100%;}
#goods_info_images a img{width:6.5rem !important; height:6.5rem !important;}
/*列表结果*/
.list_top_tit{border-top:0.02rem solid #dedede; border-bottom:0.02rem  solid #dedede;width:100%; margin:0 auto; background:#fff; text-align:center; }
.list_top_tit  ul li{ display:inline-block; float:left; width:0.8rem; text-align:center; height:0.76rem; margin:0 0.4rem; color:#999; font-size:0.22rem; line-height:0.8rem; border-bottom:0.04rem solid #fff;}
.list_top_tit  ul li.l_top_c{border-bottom:0.04rem solid #f15453;color:#f15453;}
.list_top_tit  ul li:last-child{ position:relative;}

.list_top_tit  ul li:last-child i:first-child{
	position:absolute; top:0.30rem; right:0.06rem;
	display:inline-block;
	height:0; width:0; border:0; border-left:0.051rem solid transparent; border-right:0.051rem solid transparent; border-bottom:solid 0.08rem #999;}
.list_top_tit  ul li:last-child i:last-child{
	position:absolute; top:0.41rem; right:0.06rem;
	display:inline-block;
	height:0; width:0; border:0; border-left:0.051rem solid transparent; border-right:0.051rem solid transparent; border-top:solid 0.08rem #999;
	}
.list_top_tit  ul li  .top_i_change{border-bottom-color:#f15453 !important;}
.list_top_tit  ul li  .bot_i_change{border-top-color:#f15453 !important;}	

.list_main_all{}
.list_main_box{ background:#fff; }
.list_main_box ul{padding:0.2rem;border-bottom:0.02rem  solid #dedede; }
.list_main_box ul li:first-child{ float:left; width:1.6rem;}
.list_main_box ul li:first-child img{ width:1.6rem; height:1.6rem;}
.list_main_box ul li:last-child{ float:right; width:4.25rem; text-align:left;}
.list_main_box ul li:last-child h2{font-size:0.24rem; line-height:0.38rem; color:#333; padding-top:0.04rem; height:0.72rem;padding-bottom:0.06rem; font-style:normal; letter-spacing:0.01rem; overflow:hidden;text-overflow:ellipsis;}
.list_main_box ul li:last-child dl:first-child{}
.list_main_box ul li:last-child dl dt{height:0.4rem;}
.list_main_box ul li:last-child dl dt:first-child{ line-height:0.35rem;float:left; height:0.35rem; padding-top:0.03rem;}
.list_main_box ul li:last-child dl dt:first-child label{ color:#f15453;font-size:0.28rem; display:inline-block; min-width:1.12rem;}
.list_main_box ul li:last-child dl dt:first-child label em{font-size:0.18rem;}
.list_main_box ul li:last-child dl dt:nth-of-type(2) {float:left;}
.list_main_box ul li:last-child dl dt:nth-of-type(2)  span{ display:inline-block; height:0.3rem; padding-top:0.05rem;}
.list_main_box ul li:last-child dl dt:nth-of-type(2)  span i{margin-left:0.06rem; }
.list_main_box ul li:last-child dl dd {line-height:0.35rem;padding-top:0.03rem;}
.list_main_box ul li:last-child dl dd label{font-size:0.2rem; color:#999;text-decoration:line-through; }
.list_main_box ul li:last-child dl dt:last-child,.list_main_box ul li:last-child dl dd span{ float:right; color:#999;font-size:0.22rem;  display:inline-block;line-height:0.35rem;}

.icon-list-q,.icon-list-y,.icon-list-z,.icon-list-f{
	display: inline-block;
	background: url(../../images/wap/list_d_icons.png) no-repeat;
	background-size: 1.6rem 0.3rem;
	width: 0.3rem;height: 0.3rem;
}
.icon-list-q{background-position: 0 0rem;}
.icon-list-y{background-position: -0.4rem 0rem;}
.icon-list-z{background-position: -0.8rem 0rem;}
.icon-list-f{background-position: -1.2rem 0rem;}


/*详情*/
.details_top_pic{ border-bottom:0.02rem solid #e0dfda; background:#fff; white-space:nowrap; width:auto;}
.details_top_pic img{ display:block; width:6.4rem; height:6.4rem;}
.details_top_box{ border-bottom:0.02rem solid #e0dfda; background:#fff;}
.details_top_box ul{border-bottom:0.02rem solid #e8e8e8;}
.details_top_box ul li{ padding:0.2rem 0.2rem 0.06rem;}
.details_top_box ul li h2{font-size:0.22rem; line-height:0.32rem; color:#333; padding-bottom:0.06rem; font-style:normal; letter-spacing:0.01rem;}
.details_top_box ul li dl dt label{ color:#f15453;font-size:0.28rem; display:inline-block;}
.details_top_box ul li dl dt label em{font-size:0.18rem;}
.details_top_box ul li dl {line-height:0.35rem;}
.details_top_box ul li dl dd label{font-size:0.2rem; color:#999;text-decoration:line-through; }
.details_top_box ul li dl span{ float:right; color:#999;font-size:0.22rem;  display:inline-block;line-height:0.35rem;}
.details_top_box p{ padding:0 0.2rem; height:0.48rem; line-height:0.48rem;font-size:0.2rem; color:#f15453; }

.details_main_list{ border-top:0.02rem solid #e0dfda; background:#fff; margin-top:0.15rem;}
.details_main_list ul{border-bottom:0.02rem solid #e8e8e8;}

.details_main_list ul li{ padding:0.2rem; position:relative;}
.details_main_list ul li label{ font-size:0.24rem; display:inline-block; min-width:0.7rem; color:#000;line-height:0.48rem; letter-spacing:0.03rem;}
.details_main_list ul li div{ position:absolute; height:0.48rem;top:0.22rem; left:0.9rem;}
.details_main_list ul li div span { width:1.2rem; height:0.34rem; border:0.02rem solid #f15453; text-align:center; font-size:0.18rem; line-height:0.33rem; margin-top:0.05rem; color:#f15453;
    display:inline-block;letter-spacing:0.01rem; margin-right:0.1rem;
	-webkit-border-radius: 0.18rem;
	-moz-border-radius: 0.18rem;
	border-radius: 0.18rem;}


.details_main_list ul li div h2{ font-size:0.18rem; color:#5d5d5d; padding-top:0.11rem; font-style:normal;}
.details_main_list ul li em{ font-size:0.2rem; color:#999; float:right; line-height:0.46rem; font-style:normal; margin-right:0.3rem;}
.icon-d-right,.icon-d-dwon{
	display: inline-block;
	background: url(../../images/wap/details_icons.png) no-repeat;
	background-size: 1.2rem 0.3rem;
	width: 0.3rem;height: 0.3rem;
}
.icon-d-right{background-position: 0rem 0rem;}
.icon-d-dwon{background-position: -0.3rem 0rem;}

.details_main_list ul li i{ position:absolute; right:0.12rem; top:0.29rem;}
.icon-del-left{ position:absolute; left:0.10rem; top:0.2rem;}
.det_to_left{ margin-left:0.46rem;}
.icon-del-bot{ position:absolute; left:2.20rem; top:0.2rem;}
.det_to_leftb{ margin-left:2.56rem;}

/*个人中心*/
.my_top_div{ width:6.4rem; height:2.6rem; z-index:7; position:relative;}
.my_top_div .bg_img{width:6.4rem; height:2.6rem; top:0px; left:0px; position:absolute; z-index:8;}
.my_top_div .my_top_main{width:6.4rem; height:2.6rem; top:0px; left:0px; position:absolute; z-index:9;}
.my_top_div .my_top_a{height:1.72rem;}
.my_top_div .my_top_a ul{ padding-top:0.45rem; padding-left:0.18rem;}
.my_top_div .my_top_a ul li{ float:left; margin-left:0.22rem; }
.my_top_div .my_top_a ul li:first-child img{ height:1.1rem; width:1.1rem; margin-right:0.03rem;border-radius:50%;}
.my_top_div .my_top_a ul li:nth-of-type(2){font-size:0.32rem; color:#fff; line-height:0.4rem; padding-top:0.35rem;}
.my_top_div .my_top_a ul li:nth-of-type(3) em{ background:#ffc600; display:inline-block; width:0.3rem; height:0.3rem; text-align:center; font-size:0.2rem; color:#fff;
 line-height:0.3rem; margin-top:0.4rem;-webkit-border-radius: 0.04rem; font-style:normal;
	-moz-border-radius: 0.04rem;
	border-radius: 0.04rem;}
.my_top_div .my_top_a ul li:nth-of-type(3) em span{display:inline-block; padding:0.05rem 0; line-height:0.2rem;}	
.my_top_div .my_top_b {height:0.88rem;}
.my_top_div .my_top_b ul li{ float:left; margin-left:0.02rem !important; width:2.1rem; height:0.88rem;background:rgba(0, 0, 0, 0.33)!important; text-align:center; color:#fff;}
.my_top_div .my_top_b ul li:first-child{ margin-left:0;}
.my_top_div .my_top_b ul li p{height:0.32rem; line-height:0.32rem; padding-top:0.12rem; font-size:0.28rem;}
.my_top_div .my_top_b ul li h2{ height:0.42rem; line-height:0.42rem; font-size:0.2rem;letter-spacing:0.02rem;}

.my_main_list{ margin-top:0.15rem;border-top:0.02rem  solid #dedede;border-bottom:0.02rem  solid #dedede; background:#fff;}
.my_main_list ul{ height:0.86rem;border-top:0.02rem  solid #dedede;}
.my_main_list ul:first-child{border-top:none;}
.my_main_list ul li{ padding:0.2rem; position:relative;}
.my_main_list ul li i{ position:absolute; right:0.12rem; top:0.28rem;}
.my_main_list ul li span{ position:absolute; left:0.20rem; top:0.27rem;}
.my_main_list ul li label{ font-size:0.28rem; display:inline-block; line-height:0.46rem; color:#000; letter-spacing:0.02rem; margin-left:0.4rem;}
.my_main_list ul li em{ font-size:0.24rem; color:#999; float:right; line-height:0.44rem; font-style:normal; margin-right:0.3rem;}
.icon-my-left01,.icon-my-left02,.icon-my-left03,.icon-my-left04,.icon-my-left05,.icon-my-left06,.icon-my-left07{
	display: inline-block;
	background: url(../../images/wap/mine_icons_b.png) no-repeat;
	background-size: 2.8rem 0.4rem;
	width: 0.32rem;height: 0.32rem;
}
.icon-my-left01{background-position: 0rem 0rem;}
.icon-my-left02{background-position: -0.4rem 0rem;}
.icon-my-left03{background-position: -0.8rem 0rem;}
.icon-my-left04{background-position: -1.2rem 0rem;}
.icon-my-left05{background-position: -1.6rem 0rem;}
.icon-my-left06{background-position: -2.0rem 0rem;}
.icon-my-left07{background:url(../../images/wap/my_fcode.png) no-repeat; border-radius:0.04rem; background-size:0.32rem 0.32rem;}
.my_main_box{ margin-top:0;border-bottom:0.02rem  solid #dedede; background:#fff; height:1.18rem;}
.my_main_box a{ display:inline-block; width:1.264rem; border-left:0.02rem  solid #dedede; float:left;height:1.18rem;  margin:0 auto; text-align:center;}
.my_main_box a:first-child{border-left:none;}
.my_main_box a i{ margin-top:0.18rem; position:relative;}
.my_main_box a i em{width:0.24rem;height:0.24rem;line-height: 0.24rem;padding: 0.02rem; background:#ef5557; display:inline-block; font-size:0.2rem; color:#fff;position:absolute;
 top:0rem; right:-0.2rem;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;}
.my_main_box a i em span{ /*line-height:0.21rem;*/display:inline-block;}
.my_main_box a p{ font-size:0.24rem;color:#666; line-height:0.24rem; padding-top:0.03rem;}
.icon-my-i01,.icon-my-i02,.icon-my-i03,.icon-my-i04,.icon-my-i05{
	display: inline-block;
	background: url(../../images/wap/mine_icons.png) no-repeat;
	background-size: 2.5rem 0.5rem;
	width: 0.5rem;height: 0.5rem;
}
.icon-my-i01{background-position: 0rem 0rem;}
.icon-my-i02{background-position: -0.5rem 0rem;}
.icon-my-i03{background-position: -1.0rem 0rem;}
.icon-my-i04{background-position: -1.5rem 0rem;}
.icon-my-i05{background-position: -2.0rem 0rem;}

.my_main_bao{ margin-top:0;border-bottom:0.02rem  solid #dedede; background:#fff; height:1.18rem;}
.my_main_bao a{ display:inline-block; width:2.12rem; border-left:0.02rem  solid #dedede; float:left;height:1.18rem;  margin:0 auto; text-align:center;}
.my_main_bao a:first-child{border-left:none;}
.my_main_bao p{font-size:0.28rem;color:#333; height:0.4rem; line-height:0.4rem; padding-top:0.25rem;}
.my_main_bao h2{height:0.45rem; line-height:0.45rem; color:#666; font-size:0.24rem;letter-spacing:0.02rem;}

.hidden{display:none !important;}
.details_main_list .select_show{ clear:both; width:6rem; position:relative; left:0; top:0; height:auto;}
.select_show span{ float:left;}
.select_show p{ float:left; color:#F15453; font-size:0.18rem; line-height:0.46rem;}
.select_show p em{ color:#F15453 !important; font-size:0.18rem !important;}
.rotate{transform:rotate(90deg);}

.select_show .goods_spec_1{display:block; float:left; position:relative; left:0; top:0; margin-top:0.1rem;}
.select_show .goods_spec_1 dt{color:#000; font-size:0.24rem; line-height:0.4rem; float:left; display:block;}
.select_show .goods_spec_1 dd { float:left; position:relative; left:-0.7rem; max-width:5rem; display:block;}
.select_show .goods_spec_1 dd .spec_item{color:#999; float:left; position:relative; left:0.7rem; border:0.02rem solid #999; font-size:0.2rem; line-height:0.3rem; max-height:0.34rem; min-width:0.5rem; text-align:center; margin:0.01rem;  margin-left:0.05rem; }
.select_show .goods_spec_1 dd .spec_item a{color:#888; border:0.02rem solid #FFF; display:block;}
.select_show .goods_spec_1 dd .spec_item a img{width:0.3rem; height:0.3rem; margin-top:-0.05rem;}
.select_show .goods_spec_1 dd .spec_item:hover{border-color:#d93600;}
.select_show .goods_spec_1 dd .spec_item a:hover{border-color:#d93600;}

#memtion h3{color:#999; float:left; position:relative; left:0.7rem; border:0.02rem solid #999; font-size:0.2rem; line-height:0.3rem; max-height:0.34rem; min-width:0.5rem; text-align:center; margin:0.01rem;  margin-left:0.05rem; }
#memtion h3 a{color:#888; border:0.02rem solid #FFF; display:block;}

.chiose_num{margin-left:0.5rem; width:3rem; float:left; color:#aaa;}
.chiose_num i{display:inline-block; width:0.32rem; height:0.3rem; font-size:0.3rem; line-height:0.26rem; color:#ccc; text-align:center; border:0.02rem solid #ccc; font-style:normal; position:relative !important;}
.chiose_num i:first-child{top:0.08rem; left:0.1rem;}
.chiose_num i:last-child{top:0.08rem; left:0.1rem;}
.chiose_num input{width:0.8rem; height:0.34rem; border:0.02rem solid #ccc; font-size:0.2rem; line-height:0.32rem; color:#aaa; text-align:center; margin-left:0.21rem; margin-top:0.08rem;}
.select_show .goods_storage{position:relative; left:0.55rem; width:5rem; font-size:0.3rem; line-height:0.6rem; display:inline-block;}

#mobile_body img{clear:both; max-width:6rem; width:auto; height:auto;}
#mobile_body div{color:#000; clear:both; position:relative; top:0; left:0; font-size:0.2rem; line-height:0.3rem;height:inherit;}
#mobile_body p{color:#000; clear:both; position:relative; top:0; left:0;}
#mobile_body table{color:#000; clear:both; position:relative; top:0; left:0;}
#mobile_body table tr td{color:#000; clear:both; position:relative; top:0; left:0;}
#mobile_body table tr td strong{font-weight:600;}
#mobile_body table tbody tr td span{width:auto; height:auto; border:0; border-radius:0;}

.is_selectd{border-color:#d93600 !important; position:relative;}
.is_selectd i{width:0.14rem; height:0.15rem; position:absolute !important; right:-0.022rem !important; top:0.18rem !important; background:url(../../images/shop/2014_ncs_public_img.png) no-repeat; background-size:2.6rem;}

.hot_sales{position:relative !important; top:0 !important; left:0 !important; background:#FFF;}
.hot_sales i{float:left;}
#hot_sales{width:7.4rem; left:-0.25rem;}
#hot_sales ul{border:0.02rem dotted #ccc; width:2.9rem; margin-top:0.05rem; margin-bottom:0.2rem;}
#hot_sales ul li{padding-left:0; padding-right:0;}
.hot_sales_title{position:relative !important; top:0 !important; left:0.3rem !important; color:#000 !important; line-height:0.8rem; font-size:0.3rem; height:0.8rem !important; margin-top:0.1rem; margin-bottom:0.1rem; border:0.02rem solid #dedede; border-left-color:transparent; width:5.93rem;}
.hot_sales_title i{display:inline-block; width:0.1rem; height:0.82rem; background:#EF5557; position:relative !important; top:-0.01rem !important; left:-0.1rem !important; float:left !important;}

.select_show #content{padding-bottom:0; margin-top:0.2rem; height:auto;}
.sppj_time{margin-left:2rem !important;}
.sppj_title tbody tr td em {float:none; margin-right:0;}
.select_show .sppj_list{height:auto;}
.select_show .sppj_list div{height:auto;}
.sppj_list_title em{float:none !important; margin-right:0 !important; margin-left:0.1rem;}
.sppj_nr ul{border-bottom:0;}
.sppj_nr ul li {padding:0;}
.sppj_nr ul li em{float:none !important; margin-right:0 !important;}
.select_color em{color:#f15453 !important;}
.sppj_nr li img{width:0.3rem !important; height:0.3rem !important;}
.pointer_imga,.pointer_imgb,.pointer_imgc{display:inline-block; border:0 !important; background:#ccc; width:0.52rem !important; height:0.52rem !important; border-radius:0 !important; margin-left:0.5rem;}
.pointer_imga{background:url(../../images/wap/sppj_a.png) no-repeat; background-size:0.5rem;}
.pointer_imgb{background:url(../../images/wap/sppj_b.png) no-repeat; background-size:0.5rem;}
.pointer_imgc{background:url(../../images/wap/sppj_c.png) no-repeat; background-size:0.5rem;}
.select_color .pointer_imga{background:url(../../images/wap/sppj_a1.png) no-repeat; background-size:0.5rem;}
.select_color .pointer_imgb{background:url(../../images/wap/sppj_b1.png) no-repeat; background-size:0.5rem;}
.select_color .pointer_imgc{background:url(../../images/wap/sppj_c1.png) no-repeat; background-size:0.5rem;}
.geval_null{color:#999 !important; width:6rem !important; line-height:2rem !important; text-align:center;}
.no_list{height:3rem; color:#999; font-size:0.25rem; line-height:6rem; text-align:center;}
.details_foot .not_click:first-child{background-color: #aaa !important; cursor: not-allowed;}

/*店铺分类css*/
.store_class{min-width:3rem; max-height:6rem; overflow:auto; color:#666666; z-index:100; position:fixed; top:0.9rem; right:0.1rem; border:0.02rem solid #CCCCCC; background:#FFF;}
.icon_store_class{
	width:0.2rem; height:0.2rem; background:#FFF; display:inline-block; transform:rotate(45deg); -ms-transform:rotate(45deg); -moz-transform:rotate(45deg); -webkit-transform:rotate(45deg); -o-transform:rotate(45deg);
	border-top-left-radius:0.05rem; z-index:999; border-left:0.02rem solid #CCC; border-top:0.02rem solid #CCC; position:fixed; top:0.81rem; right:0.3rem;
}
.store_class ul li{padding:0.1rem 0; border-bottom:0.02rem solid #CCC; text-indent:0.2rem; position:relative; font-size:0.25rem;}
.store_class ul li:last-child{border-bottom:0;}
.store_class .is_select{color:#D93600;}
.store_class ul li dl dt{padding:0.1rem 0; border-top:0.02rem solid #CCC; text-indent:0.5rem;}
.store_class ul li dl dt:first-child{margin-top:0.1rem;}
.store_class ul li i.icon_store_right{background:url(../../images/wap/weiquan_right.png) no-repeat; background-size:0.1rem 0.2rem; display:inline-block; width:0.12rem; height:0.2rem; position:absolute; top:0.15rem; right:0.1rem;}

.share_article .article_img{width:1.23rem; height:1.23rem; padding:0.05rem; margin-right:0.1rem; border-radius:0.1rem; border:0.02rem solid #CCC;  float:left; position:relative;}
.share_article .article_msg{width:3.66rem; float:left;}
.share_article .article_img img{margin:auto; text-align:1.5rem; position:absolute; top:0; right:0; bottom:0; left:0;}
.share_article .article_msg h1{display:inline-block; width:3.56rem; line-height:0.5rem; font-size:0.3rem; font-weight:600; color:#42B2E6; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.share_article .article_msg em{font-size:0.22rem; color:#AAA;}
.share_article font{font-size:0.22rem; color:454545; line-height:0.32rem; text-indent:0.22rem;}
.share_article .article-share-content{width:100%; border-radius:0.1rem; border:0.02rem solid #CCC; height:1.2rem; margin:0.2rem 0; resize:none; padding:0.1rem;}

/*圈子详情*/
.circle-info-top{height:2rem; padding:0.4rem 0.2rem 0 0.2rem; background:#F5F5F5;}
.circle-image{float:left; height:2rem; width:2rem;}
.circle-image img{width:2rem; height:2rem;}
.circle-info-right{width:3.8rem; height:2rem; float:right;}
.circle-info-right h1{display:inline-block; width:100%; line-height:0.5rem; font-size:0.32rem; color:#44AA5E; position:relative;}
.circle-info-right h1 em{font-weight:600; color:#44AA5E; display:inline-block; width:2rem; height:0.5rem; overflow:hidden;}
.circle-info-right h1 a{font-size:0.3rem; line-height:0.5rem; display:inline-block; padding:0 0.05rem; color:rgba(255, 255, 255, 0.6); background:#44AA5E; border-radius:0.1rem; font-family:"宋体"; text-align:center; position:absolute; top:-0.02rem;}
.circle-right-apply{width:0.5rem; height:0.4rem; background:url(../../images/wap/apply.png) no-repeat; background-size:0.5rem 0.4rem; display:inline-block; position:relative; top:0.07rem;}
.circle-right-exit{width:0.4rem; height:0.4rem; background:url(../../images/wap/circle-exit.png) no-repeat; background-size:0.4rem 0.4rem; display:inline-block; position:relative; top:0.07rem;}
.circle-info-right  h2{display:inline-block; width:100%; line-height:0.3rem; margin-top:0.1rem; font-size:0.25rem; color:#666; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.circle-info-right  h3 em,.circle-info-right  h3 font{color:#AAA; font-size:0.25rem; line-height:0.5rem;}
.circle-info-right h4{font-size:0.22rem; line-height:0.3rem; color:#AAA;}
.circle-info-right h4 em{color:#FF6400; font-weight:600;}
.circle-info-right h4 a{color:#37adbe; font-weight:600;}
.circle-theme-list{margin-bottom:0.1rem; min-height:1rem; background:#FFF; padding:0.2rem 0.2rem 0 0.2rem;}
.circle-theme-top{height:0.5rem; line-height:0.5rem; font-size:0.25rem; color:#454545; padding:0; position:relative;}
.circle-theme-top img{width:0.5rem; height:0.5rem; border-radius:100%; position:absolute; top:0;}
.circle-theme-top em{margin-left:0.6rem;}
.circle-theme-title{color:#565656; font-size:0.28rem; line-height:0.7rem;}
.circle-theme-content{color:#565656; font-size:0.3rem; line-height:0.4rem;}
.circle-theme-content img{height:1.5rem; width:auto; margin-right:0.1rem;}
.circle-overflow-hidden{height:1.5rem; overflow:hidden;}
.circle-text-indent{text-indent:0.3rem; max-height:2rem; overflow:hidden;}
.circle-theme-foot{height:0.7rem; line-height:0.7rem;}
.circle-theme-foot em{color:#CCC; font-size:0.22rem; display:inline-block; float:left;}
.circle-theme-foot em:first-child{margin-right:0.3rem;}
.circle-theme-foot em:last-child{float:right;}
.circle-all-theme{color:#656565; line-height:0.9rem; border-bottom:0.02rem solid #ECECEC; font-size:0.32rem; text-indent:0.5rem; position:relative;}
/*话题详情*/
.theme-info-top{padding:0.2rem; background:#F5F5F5; height:0.7rem; color:#454545; line-height:0.7rem; font-size:0.3rem; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.theme-info-top img{width:0.7rem; height:0.7rem; border-radius:100%; border:0; margin-right:0.12rem;}
.theme-info-content{padding:0.2rem; background:#FFF;}
.theme-title{line-height:0.6rem; font-size:0.3rem; font-weight:600; color:#333; font-family:"微软雅黑";  overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.theme-bind-time{line-height:0.4rem; font-size:0.25rem; color:#AAA;}
.theme-message{font-family:"微软雅黑" !important; color:#565656; font-size:0.3rem;}
.theme-message img{max-height:none; max-width:none; width:6rem; height:auto; margin:0.1rem 0;}
.bottom-reply-foot{position:fixed; bottom:0rem; background:#FFF; padding:0.2rem; width:6rem;}
.bottom-reply-foot input{float:left; z-index:2; background:transparent; line-height:0.5rem; height:0.5rem; font-size:0.25rem; width:5rem; border:0; padding-left:0.5rem; background:url(../../images/wap/reply-text.png) no-repeat; background-size:0.5rem 0.5rem;}
.bottom-reply-foot a{ color:#AAA !important; font-size:0.25rem; display:inline-block; margin-left:0.3rem; line-height:0.5rem;}
.icon-reply-bottom{display:inline-block; z-index:1; position:absolute; left:0.18rem; bottom:0.2rem; width:5rem; height:0.1rem; border:0.02rem solid #c9c9c9; border-top-color:transparent;}
.theme-apply-top{color:#656565; line-height:0.9rem; border-bottom:0.02rem solid #ECECEC; border-top:0.02rem solid #ECECEC; font-size:0.32rem; text-indent:0.5rem; position:relative;}
.icon-angle-up{display:inline-block; width:0.2rem; height:0.2rem; transform:rotate(45deg); background:#FFF; position:absolute; bottom:-0.12rem; left:0.8rem; border-left:0.02rem solid #ECECEC; border-top:0.02rem solid #ECECEC;}
.theme-apply-list li{padding:0.15rem; border-bottom:0.02rem solid #ECECEC;}
.theme-apply-list li:last-child{border-bottom-color:#FFF;}
.theme-apply-list li dl dt{float:left;}
.theme-apply-list li dl dt img{margin-right:0.15rem; border-radius:100%;}
.theme-apply-list li dl dd{float:left; width:5rem;}
.theme-apply-list li dl dd h1{font-size:0.25rem; float:left; color:#343434; line-height:0.5rem;}
.theme-apply-list li dl dd em{font-size:0.25rem; float:right; color:#AAA; line-height:0.5rem;}
.theme-apply-list li dl dd font{font-size:0.25rem; float:left; display:inline-block; width:5rem; color:#676767;}
/*投票*/
.theme-poll{width:6rem; min-height:1rem; border:0.02rem solid #E7E7E7; background:#FFF; margin:0.2rem auto; box-shadow:0.04rem 0.04rem 0 rgba(204,204,204,0.25);}
.theme-poll h1{width:5.6rem; line-height:0.8rem; margin-left:0.2rem; font-size:0.3rem; border-bottom:0.02rem solid #E7E7E7;}
.theme-poll ul li{width:100%; min-height:1rem; background:#f8f8f8; margin-top:0.1rem;}
.theme-poll ul li dl dt{width:0.5rem; float:left;}
.theme-poll ul li dl dt input{width:0.3rem; height:0.3rem; margin:0.35rem auto; float:right;}
.theme-poll ul li dl dd{width:5.3rem; float:left; margin-left:0.2rem;}
.theme-poll ul li dl dd h2{display:inline-block; width:5.1rem; font-size:0.22rem; line-height:0.5rem; color:#565656; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.back_width_option{width:3.5rem; float:left; height:0.3rem; margin-top:0.1rem; position:relative; border-radius:0.08rem; background:#EFEFEF;}
.theme-poll ul li dl dd .back_width_option em{position:absolute; display:inline-block; width:1rem; text-align:center; line-height:0.3rem; font-size:0.22rem; color:#000; left:1.1rem;}
.index_width_option{height:0.3rem; float:left; border-radius:0.08rem; background:#09C; box-shadow:inset 0 0.15rem 0 rgba(255, 255, 255, 0.25);}
.theme-poll ul li dl dd em{float:left; color:#888; margin-left:0.2rem; font-size:0.22rem; line-height:0.5rem;}
.theme-poll-foot{width:5.6rem; line-height:0.8rem; margin-left:0.2rem; font-size:0.3rem; border-top:0.02rem solid #E7E7E7; margin-top:0.2rem; color:#D7813E;}
.theme-poll-foot a{display:inline-block; width:1rem; line-height:0.5rem; text-align:center; margin:0.1rem 0 0.1rem 0; font-size:0.3rem; color:#676767 !important; border:0.02rem solid #D4DEE3; border-radius:0.08rem;}
/*报名*/
.enroll_table tr td:first-child{width:1rem; color:#565656; font-size:0.25rem; text-align:right;}
.enroll_table tr td input{border:0.02rem solid #CCC; line-height:0.5rem; font-size:0.25rem; height:0.5rem; width:4.4rem; margin:0.1rem 0 0.1rem 0.1rem; border-radius:0.08rem;}
.enroll_table tr td em{color:red;}
.validate-error{font-size:0.25rem; color:#F00; margin-left:0.15rem;}




