/**
 * jim 
 * promo_class.css
 */
.promo_class_list_1{
	width: 100%;
}
.promo_class_list_1 ul li{
	height: 1rem;
	line-height: 1rem;
	background: #fff;
	color: #474747;
	font-size: 0.3rem;
	border: 0.02rem solid #C0C0C0;
	margin-top:-0.02rem;
}
.promo_class_list_1 ul li span{
	margin-left: 0.3rem;
}
.promo_class_list_1 ul li img{
	float: right;
	margin-top: 0.35rem;
    margin-right: 0.2rem;
}
.promo_class_name{
	width: 100%;
	padding: 0.2rem;
}
.promo_class_name span{
	color: #363636;
	font-size: 0.35rem;
	margin-left: 0.2rem;
	padding-bottom: 0.1rem;
}

/**
 * jim
 * vou_class.css
 */
.vou_class_list_1{
	width: 100%;
	margin-top: 0.3rem;
}
.vou_class_list_1 ul li{
	height: 1rem;
	line-height: 1rem;
	background: #fff;
	color: #474747;
	font-size: 0.3rem;
	border: 0.02rem solid #C0C0C0;
	margin-top:-0.02rem;
}
.vou_class_list_1 ul li span{
	margin-left: 0.3rem;
}
.vou_class_list_1 ul li img{
	float: right;
	margin-top: 0.35rem;
    margin-right: 0.2rem;
}